.Header{
    width:100%;
    position:fixed;
    background-color: #3c3c3c;
    z-index:999;
    top:0;
}
.container{
    width:100%;
    max-width:1200px;
    display: flex;
    justify-content:space-between;
    margin:0 auto;
    align-items: center;
}
.container a{
    color:white;
}